@font-face {
  font-family: Libra-Voyage-Font;
  src: url(../../../Assets/fonts/libra-voyage-font.ttf);
}

.Home h2 {
  font-family: libra-voyage-font;
  font-size: 100px;
  font-weight: 100;
  z-index: 2;
}

.Home {
  position: relative;
  font-weight: 700;
  background-color: #ffffff87;
  border-radius: 55px;
  width: 95%;
  margin: auto;
}

.Home a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.Home a:visited {
  color: black;
}

.popup {
  position: fixed;
  width: 600px;
  height: 500px;
  font-size: 19px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 35px;
  border: 15px solid rgba(255, 255, 255, 0.319);
  box-shadow: 0 0 35px rgb(0, 0, 0);
  text-align: center;
  background-image: url(../../../Assets/Images/image1.jpg);
  z-index: 9999;
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.534);
  z-index: -1;
}

.popup > button {
  background-color: rgba(255, 255, 255, 0.263);
  margin-top: 65px;
  padding: 15px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.popup .close-popup {
  cursor: pointer;
}

.popup button:hover {
  background-color: rgba(255, 196, 0, 0.981);
}

.popup a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.popup .hateAds {
  font-size: 13px;
  color: white;
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.647);
  cursor: pointer;
}

.videoPopup {
  position: absolute;
  top: 330px;
  z-index: 0;
}
